*{
  padding: 0;
  margin: 0;
}
#root {
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
  background: url(https://wallpapercave.com/wp/wp2721234.jpg) ;
  height: 91.5vh;
  flex-wrap: wrap;
}

