.main-container-rightBar{
    flex: 3;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    // background-color: aqua;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px;
    margin-left: 40px;
    
    

    .about{
        background-color: #F5F5F5;
        padding: 5px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;

        &:hover{
            background-color: #007bff;
            color: white;

            .rightBar-icon {
                svg {
                    fill: white ; 
                }
                background-color:#007bff ;
            }
        }

        p{
            margin-top: 0;
        }
    }

    .resume{
        margin-top: 10px;
        background-color: #F5F5F5;
        padding: 5px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;

        &:hover{
            background-color: #007bff;
            color: white;

            .rightBar-icon {
                svg {
                    fill: white ; 
                }
                background-color:#007bff ;
            }
        }
        p{
            margin-top: 0;
        }
    }

    .work{
        margin-top: 10px;
        background-color: #F5F5F5;
        padding: 5px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;

        &:hover{
            background-color: #007bff;
            color: white;

            .rightBar-icon {
                svg {
                    fill: white ; 
                }
                background-color:#007bff ;
            }
        }
        p{
            margin-top: 0;
        }
    }

    .skills{
        margin-top: 10px;
        background-color: #F5F5F5;
        padding: 5px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;

        &:hover{
            background-color: #007bff;
            color: white;

            .rightBar-icon {
                svg {
                    fill: white ; 
                }
                background-color:#007bff ;
            }
        }
        p{
            margin-top: 0;
        }
    }

    .projects{
        margin-top: 10px;
        background-color: #F5F5F5;
        padding: 5px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;

        &:hover{
            background-color: #007bff;
            color: white;

            .rightBar-icon {
                svg {
                    fill: white ; 
                }
                background-color:#007bff ;
            }
        }
        p{
            margin-top: 0;
        }
    }
    .contact{
        margin-top: 10px;
        background-color: #F5F5F5;
        padding: 5px;
        height: 50px;
        border-radius: 10%;
        cursor: pointer;

        &:hover{
            background-color: #007bff;
            color: white;

            .rightBar-icon {
                svg {
                    fill: white ; 
                }
                background-color:#007bff ;
            }
        }
        p{
            margin-top: 0;
        }
    }

    .rightBar-icon{
        background-color: #F5F5F5;
        border-radius: 20%;
    }
}


@media screen and (max-width:900px ) {
    // .rightbar-div{
    //     display: none;
    //     background-color: red;
        .main-container-rightBar{
            display: none;
            
        }
    }

    // .rightbar-div{
    //     background-color: red;
    // }
    // }

// @media screen and (min-width:601px ) {
//     .rightbar-div{
//         display: none;
//         .main-container-rightBar{
//             display: none;
            
//         }
//     }
//     }

// @media screen and (min-width:768px ) {
//     .rightbar-div{
//         display: none;
//         .main-container-rightBar{
//             display: none;
            
//         }
//     }
//     }

    //max-width:600px width:100%
//min-width:601px width:100%
//min-width:768px width:100%
//min-width:992px width:100%
//min-width:1200px width:100%

//<600px, 601px, 768px, 992px, 1200px

